@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#eef6fb;
    color:#222;
}

header{
    background:#0288d1;
    color:white;
    padding:25px;
}

header h1{
    text-align:center;
    margin-bottom:15px;
}

nav{
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#cdefff;
}



main{
    width:90%;
    max-width:1000px;
    margin:40px auto;
}


.hero{
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.hero h2{
    color:#0288d1;
    margin-bottom:20px;
}

.hero p{
    margin:12px 0;
    font-size:18px;
}

.hero h3{
    margin-top:25px;
    color:#1565c0;
}


form{
    width:500px;
    margin:40px auto;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

form h2{
    text-align:center;
    color:#0288d1;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:14px;
    margin:12px 0;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:15px;
}


button{
    width:100%;
    margin-top:15px;
    background:#0288d1;
    color:white;
    border:none;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

button:hover{
    background:#0277bd;
}

.mensaje{
    width:500px;
    margin:20px auto;
    padding:15px;
    border-radius:10px;
    text-align:center;
    font-weight:bold;
}

.success{
    background:#d4edda;
    color:#155724;
    border:1px solid #28a745;
}

.danger{
    background:#f8d7da;
    color:#721c24;
    border:1px solid #dc3545;
}


footer{
    margin-top:60px;
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
}


@media(max-width:700px){
    form{ width:100%; }
    .mensaje{ width:100%; }
}