<h1>Contacto</h1>
<form method="POST" action="/contact" class="contact-form">
    <label>
        Nombre:
        <input type="text" name="nombre" required />
    </label>
    <label>
        Mensaje:
        <textarea name="mensaje" required></textarea>
    </label>
    <button type="submit">Enviar</button>
</form>
