<nav class="navbar">
    <a href="/" class="brand">{{mayusculas tienda}}</a>
    <div class="nav-links">
        <a href="/">Inicio</a>
        <a href="/about">Información</a>
        <a href="/contact">Contacto</a>
    </div>
</nav>
