<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <h1>Reabastecer Inventario</h1>
    <p>Stock actual: <b><%= stock %></b> paquetes</p>

    <form action="/reabastecer" method="POST">
        <label>Cantidad de paquetes recibidos:</label><br>
        <input type="number" name="cantidad" required min="1"><br>
        <button type="submit">Registrar ingreso</button>
    </form>
    <br>
    <a href="/">Volver al inicio</a>
</body>
</html>