<nav class="menu">
    <a href="/">Inicio</a>
    <a href="/historial">Historial</a>
    <a href="/historial-personal">Historial Personal</a>
    <a href="/ranking">Ranking</a>
    <a href="/configuracion">Configuración</a>
</nav>

<%# include("partials/nav") %>