<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Bicicletas</a>
        <div>
            <a href="/" class="btn btn-outline-light btn-sm">Inicio</a>
            <a href="/arrendar" class="btn btn-outline-light btn-sm">Arrendar</a>
            <a href="/devolver" class="btn btn-outline-light btn-sm">Devolver</a>
        </div>
    </div>
</nav>